.turnbox {
    width: 300px;
    height: 120px;
    border: 2px black solid;
    box-shadow: 5px 5px grey;
    margin-left: 39%;
    margin-top: 20px;
}

.startbox {
    width: 300px;
    height: 100px;
    border: 2px black solid;
    box-shadow: 5px 5px lightgrey;
    margin-left: 39%;
    margin-top: 20px;
}

.paraplus {
    text-align: center;
    margin-left: 35%;
    margin-top: 0px;
}

#playerid {
    display: none;
}

#computerid {
    display: none;
}


/* display: inline-block; */